@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* body {
    padding:0%;
    margin: 0%;
} */

html {
    padding: 0%;
    margin: 0%;
}


/* html.dark {
    --line-color: rgba(99, 36, 36, 0.493);
  } */


